li {
    font-family: 'Courier New', Courier, monospace;
}

li::marker{
    color:greenyellow;
}

li:nth-child(even){
    list-style-type: circle;
}

li:nth-child(odd)::marker{
    color: #af4c4c;
}

#alex_list li {
    font-family: cursive;
    list-style-position: inside;
    text-align: left;
}
#alex_list {
    margin:0 auto;
    width: fit-content;
}
