#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.styled-table {
   width: 100%;
   border-collapse: collapse;
 }

.styled-table th, .styled-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.styled-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #af4c4c;
  color: white;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#alex_table, #alex_table th, #alex_table td {
  border: 1px solid black;
  border-collapse: collapse;
}
#alex_table td, #alex_table th {
  padding: 10px;
}
#alex_table{
  margin: auto;
}